.Phonetics {
  display: flex;
  align-items: baseline;
}

.Phonetics .phonetics-text {
  opacity: 0.7;
}

.AudioPhonetics button {
  margin: 15px 20px;
  padding: 10px 16px;
  background: #ffe0e0;
  color: #f9a6ba;
  border: 1px solid #ffe0e0;
  border-radius: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 150ms ease-in-out;
}

.AudioPhonetics button:hover {
  background-color: #f9a6ba;
  color: #ffe0e0;
}

@media (max-width: 550px) {
  .Phonetics .phonetics-text {
    font-size: 13px;
  }

  .AudioPhonetics button {
    padding: 5px 11px;
    font-size: 13px;
  }
}
